/*Import fonts from googleapis*/ 
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,200");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
/*Color Scheme
CUROUS BLUE #209ad6 / WHITE #FFFFFF / Gray Chateau #9EA1A5
PIZAZZ #FE9500 / BRIGHT GRAY #323A45 / #D55C20 / D65C20




html,
body {
    margin: 0 auto;
    background-color: white ;
    color: #323A45
    height:100%
}*/

html {
  scroll-behavior: smooth;
}


main{
  display: flex;
}

section{
 
  width:100vw;
}

/*Navigation*/

.navbar{
    background-color:transparent;
    position: fixed;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    top: 10rem;
    z-index: 20;
    height: 600px;

   

}

.navbar a{
    text-align: center;
    color:#D65C20;
    padding:5px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform:uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-bottom: 50px;
    

}

.navbar a:hover{

    color: #9EA1A5;
}

/*Home*/

#home{
min-height: 100vh;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.name{
text-align: center;
font-family: 'Raleway', sans-serif;
font-size: 14vw;
line-height: .2em;
font-weight:500;
text-transform:uppercase;
color:#209ad6;
position: relative;
margin: auto;
border: #D65C20 solid 3px;


}

/* About */
#aboutBody{
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}






.letsLink{
position: relative;
bottom:4.6rem;
z-index: 30;

}

.letsLink a:hover{
  color: white;
  text-decoration:  underline;
}



ul {
  padding:0;
  list-style: none;
}
.footer-social-icons {
  width: 350px;
  display:block;
  margin: 0 auto;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons a {
  color:#209ad6;
  text-decoration: none;
}
.fa-facebook {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: transparent;
}
.fa-facebook:hover {
  background-color: #3d5b99;
  color:white;
}
.fa-twitter {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: transparent;
}
.fa-twitter:hover {
  background-color: #00aced;
  color:white;
}
.fa-rss {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: transparent;
}
.fa-rss:hover {
  background-color: #eb8231;
  color:white;
}
.fa-youtube {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: transparent;
}
.fa-youtube:hover {
  background-color: #e64a41;
  color:white;
}
.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: transparent;
}
.fa-linkedin:hover {
  background-color: #0073a4;
  color:white;
}
.fa-github {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: transparent;
}
.fa-github:hover {
  background-color: #5a32a3;
  color:white;
}

#aboutBox{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto 1fr auto;
    border: #D65C20 solid 3px;
    align-content: center;
    justify-content: center;
    /* width:550px; */
    margin: auto;
    row-gap: .5px;
    column-gap: .5px;
    gap: .5px;
    height:450px;
    
    transform: scale(.7);
    position: absolute;

   }


.aboutQuote{
    grid-row: 1;
    grid-column:2;
    font-size:18.5px;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    position: relative;
    top:8rem;
    right: 8.5rem;
    text-align: left;
    width: 370px;
  
}
.aboutToKnow{
    
    height:100px;
    width:450px;
    grid-row: 3;
    grid-column: 2;
    font-size: 119.1px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color:#209ad6;
    position: relative;
    right: 10.4rem;
    bottom: 2rem;
    letter-spacing: 0px;
    
    }

.aboutGet{
    
    width: 75px;
    font-size: 130px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    grid-row: 1;
    grid-column: 1;
    color:#209ad6;
    height:300px;
    position: relative;
    top:4.2rem;
   
    left:8rem;
   


}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -32px;
    
    
}



/* Creations */

#creations {
/*     min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column; */
}




#creations .gall{
    font-size: 20vw;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color:#209ad6;
    position: relative;
    letter-spacing: 2vw;
    top:10.8rem;
    margin-left: 12.9rem;
    z-index: 10;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    width: 20vw; 
    margin: auto;
   bottom: 10rem;
   position: relative;

}

.tile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tile:nth-child(1){
    grid-column: span 4;
    grid-row: span 2;
}

.tile:nth-child(2),
.tile:nth-child(3){
    grid-column: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5){
    grid-column: span 3;
}

@media screen and (max-width: 650px){
    .container{
        display: block;
    }
    .tile{
        margin-bottom: 1rem;
    }
}



/* Contact Me  */

#contact{
    min-height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }


.contactForm h1{
    font-size: 18vw;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color:#209ad6;
    letter-spacing: 7px;
    position: relative;
    bottom: 1.5rem;
  
      }

.formDiv{
position: relative;
right: 8rem;
width: 100px;
}



input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #8f7c6a;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover:focus:-ms-placeholder {
  color: #cbc6c1;
}



#form {
  position: relative;
  bottom: 6rem;


}

input {
  font-family: 'Raleway', sans-serif;
  font-size: 0.875em;
  width: 300px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #b3aca7;
  
  border: solid 3px #D65C20;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}



input:hover {
  background: #B0826C;
  color: #e2dedb;
}

textarea {
  width: 300px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #b3aca7;
  font-family: 'Raleway', sans-serif;
  font-size: 0.875em;
  
  border: solid 3px #D65C20;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #B0826C;
  color: #e2dedb;
}

#submit {
  width: 337px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Raleway', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 3px #D65C20;
  border-top: none;
  background: #50220c;
}

#submit:hover {
  color: #e2dedb;
}








main{
  width:400vw;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
section{
 
  display:block;
  height: 100vh;
  width: 100vw;
}



/*Desktop*/
@media (min-width: 400px){
  main{
    flex-direction: row;
    width:400vw;
    overflow-y: hidden;
  }
  body{ 
    width:400vw;
    overflow-y:hidden;
   /* background: #000;*/
  }

  .navbar{
 top: 15rem;


}


.name{
  font-size:7vw;
  padding: 0 2rem
  }
  
 .letsLink{
    position: relative;
    top: 23rem;

    
    }

  #aboutBox{
    transform: scale(1);
    position: relative;
    padding-bottom: 4rem;
  }




  .aboutQuote{
    grid-row: 1;
    grid-column:2;
    font-size:18.5px;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    position: relative;
    top:9.6rem;
    right: 8.5rem;
    text-align: left;
    width: 370px;
  
}






  #creations .gall{
    font-size: 7vw;
    text-orientation: mixed;
    z-index: 16;
    writing-mode:horizontal-tb;
    letter-spacing: 1rem;
    margin: 0;
    left: 1rem;

  }


 
.container{
  width: 26vw; 
  top:8.7rem;
}

/* Contact Me  */

#contact{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top:1.6rem;
  }


.contactForm h1{
  font-size: 119.1px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color:#209ad6;
  letter-spacing: 7px;
  top:5rem;
  position: relative;
    
    
}



input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #8f7c6a;
font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
color: #aca49c;
font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
color: #bbb5af;
}

input::placeholder, textarea::placeholder {
color: #aca49c;
font-size: 0.875em;
}

input:focus::placeholder, textarea:focus::placeholder {
color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
color: #aca49c;
font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
color: #e2dedb;
font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
color: #e2dedb;
font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
color: #e2dedb;
font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
color: #e2dedb;
font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover:focus:-ms-placeholder {
color: #cbc6c1;
}



#form {
position: relative;
width: 500px;
margin: 50px auto 100px auto;
right:5rem;
}

input {
font-family: 'Raleway', sans-serif;
font-size: 0.875em;
width: 470px;
height: 50px;
padding: 0px 15px 0px 15px;

background: transparent;
outline: none;
color: #b3aca7;

border: solid 3px #D65C20;
border-bottom: none;

transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
}



input:hover {
background: #B0826C;
color: #e2dedb;
}

textarea {
width: 470px;
max-width: 470px;
height: 110px;
max-height: 110px;
padding: 15px;

background: transparent;
outline: none;

color: #b3aca7;
font-family: 'Raleway', sans-serif;
font-size: 0.875em;

border: solid 3px #D65C20;

transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
background: #B0826C;
color: #e2dedb;
}

#submit {
width: 506px;

padding: 0;
margin: -5px 0px 0px 0px;

font-family: 'Raleway', sans-serif;
font-size: 0.875em;
color: #b3aca7;

outline:none;
cursor: pointer;

border: solid 3px #D65C20;
border-top: none;
background: #50220c;
}

#submit:hover {
color: #e2dedb;
}





}